*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    padding: 10px 15px 10px 15px;
}

a:hover {
    color: var(--green);
}

subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

:root {
    --txt-color: #031923;
    --green: #09A494;
    --bg-color: #ffffff;
}

body {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

footer {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

nav {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    padding: 6px 10px 10px 10px;
    border: 1px;
    border-radius: 1px;
    color: var(--green);
    background-color: var(--bg-color);
    cursor: pointer;
}

button.hover{
    padding: 6px 10px 10px 10px;
    border: 1px;
    border-radius: 1px;
    color: var(--bg-color);
    background-color: var(--green);
    cursor: pointer;
}
