*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #031923;
    --green: #09A494;
    --bg-color: #ffffff;
}

a {display: inline-block}
img {display: block}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.main-footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--green);
    margin: 0;
}

button,
a {
    line-height: 1;
    letter-spacing: 0;
    transition: color 0.45s, background-color 0.45s;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: var(--bg-color);
    padding: 6px 9px 8px 9px;
}

button:hover {
    background-color: var(--green);
    color: var(--bg-color);
}

section {
    margin: 0;
    margin-bottom: 120px;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav {
    display: flex;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--green);
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction h1 {
    margin: 0;
    margin-bottom: 20px;
}

.u-photo {
    border-radius: 50%;
}

.text-wrapper {
    max-width: 800px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
}

.skill-header h2 {
    margin-bottom: 0px;
}

.skill-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
    }
.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.skill-level {
    margin: 4px 0 20px;
    padding: 1px;
    font-size: 0;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}
.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}
.skill-item {
    transform: lowercase;
}

.html {
    background-image: url("../img/skill=html.svg");
}

.css {
    background-image: url("../img/skill=css.svg");
}

.cpp {
    background-image: url("../img/skill=c++.svg");
}

.python {
    background-image: url("../img/skill=python.svg");
}

.social,
.contact {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.contact {
    width: 420px;
    margin-bottom: 40px;
}

.social {
    width: 330px;
}

.social li,
.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.instagram {
   background-image: url(../img/social=instagram.svg);
}

.gitlab {
    background-image: url(../img/social=gitlab.svg);
}

.github {
    background-image: url(../img/social=github.svg);
}

.telegram {
    background-image: url(../img/social=telegram.svg);
}

.vk {
    background-image: url(..//img/social=vk.svg);
}

.contact-link {
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 42px;
    color: var(--txt-color);
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: var(--green);
}

.phone {
    background-image: url(../img/icon=phone.svg);
}

.email {
    background-image: url(../img/icon=email.svg);
}