*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

nav {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    padding: 10px 15px 10px 15px;
}

nav:hover {
    color: var(--green);
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

a:hover {
    color: var(--green);
}

subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

:root {
    --txt-color: #031923;
    --green: #09A494;
    --bg-color: #ffffff;
}

body {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

footer {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

nav {
    color: var(--txt-color);
    background-color: var(var(--bg-color));
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    padding: 6px 10px 10px 10px;
    border: 1px;
    border-radius: 100%;
    color: var(--green);
    background-color: var(--bg-color);
    cursor: pointer;
}

button.hover{
    padding: 6px 10px 10px 10px;
    border: 1px;
    border-radius: 100%;
    color: var(--bg-color);
    background-color: var(--green);
    cursor: pointer;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 50%;
}

.social-link.hover {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 50%;
    color: var(--txt-color);
    background-color: var(--green);
}

.social-link_instagram {
   background-image: url("img\social=instagram.svg");
}

.social-link_gitlab {
    background-image: url("img\social=gitlab.svg");
}

.social-link_github {
    background-image: url("img\social=github.svg");
}

.social-link_telegram {
    background-image: url("img\social=telegram.svg");
}

.social-link_vk {
    background-image: url("img\social=vk.svg");
}