@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #031923;
    --green: #09A494;
    --bg-color: #ffffff;
    --error-color: #ff3333;
}

.dark-theme {
    --txt-color: #CCCCCC;
    --bg-color: #212121;
}

.dark-theme .social-link {
    background-color: #CCCCCC;
}

a {
    display: inline-block
}

img {
    display: block
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.main-header-wrap {
    display: flex;
}

.main-footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--green);
    margin: 0;
}

button,
a {
    line-height: 1;
    letter-spacing: 0;
    transition: color 0.45s, background-color 0.45s;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: var(--bg-color);
    padding: 6px 9px 8px 9px;
}

button:hover {
    background-color: var(--green);
    color: var(--bg-color);
}
.nav-btn:hover{
    color: var(--second-color);
    background-color: var(--bg-color);
}

section {
    margin: 0;
    margin-bottom: 120px;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav {
    display: flex;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    letter-spacing: 0;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--green);
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.introduction h1 {
    margin: 0;
    margin-bottom: 20px;
}

.u-photo {
    border-radius: 50%;
}

.text-wrapper {
    max-width: 800px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-header h2 {
    margin-bottom: 0px;
}

.skill-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 5px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 0 0 20px;
    padding: 1px;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    text-align: right;
    color: var(--bg-color);
    padding-right: 8px;
}

.skill-item {
    transform: lowercase;
}




.social,
.contact {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

.social {
    justify-content: flex-start;
    gap: 20px;
}

.social li,
.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.instagram {
    background-image: url(../img/social=instagram.svg);
}

.gitlab {
    background-image: url(../img/social=gitlab.svg);
}

.github {
    background-image: url(../img/social=github.svg);
}

.telegram {
    background-image: url(../img/social=telegram.svg);
}

.vk {
    background-image: url(..//img/social=vk.svg);
}

.contact-link {
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 42px;
    color: var(--txt-color);
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: var(--green);
}

.phone {
    background-image: url(../img/icon=phone.svg);
}

.email {
    background-image: url(../img/icon=email.svg);
}

.dark-theme .email {
    background-image: url("../img/icon=email.svg");
}

.dark-theme .phone {
    background-image: url("../img/icon=phone.svg");
}

.nav-btn {
    display: none;
}

.skill-error {
    color: var(--error-color);
    
}


@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .subtitle {
        font-size: 28px;
    }

    section {
        margin-bottom: 80px;
    }

    .main-header {
        margin-bottom: 80px;
    }

    .main-nav a {
        letter-spacing: 0;
    }

    .introduction img {
        width: 250px;
        height: 250px;
    }

    .skill-header h2 {
        align-self: center;
    }

    .skill-header div {
        padding: 0px 5px;
    }

    .contact-link {
        padding: 7px 0px 7px 42px;
    }

    .skill-list dt {
        padding: 7px 0 7px 38px;
    }

}

@media screen and (max-width: 650px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
    }

    .subtitle {
        font-size: 20px;
    }

    section {
        margin-bottom: 50px;
    }

    .main-header img {
        width: 40px;
        height: 40px;
    }

    .main-header {
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
        margin-bottom: 50px;
    }

    .main-nav {
        flex-direction: column;
        text-align: center;
        letter-spacing: 0;
    }

    .main-nav_closed {
        display: none;
    }

    .main-nav a {
        padding: 20px 30px;
        letter-spacing: 0;
    }

    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        padding: 0;
    }

    .nav-btn_close {
        background-image: url("../img/btn=close.svg");
        ;
    }

    .nav-btn_open {
        background-image: url("../img/btn=burger.svg");
        ;
    }

    .main-header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .introduction {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .introduction h1 {
        margin-bottom: 10px;
    }

    .introduction img {
        width: 150px;
        height: 150px;
    }

    .introduction div {
        text-align: center;
    }

    .skill-header {
        margin-bottom: 30px;
    }

    .skill-header div {
        padding: 0px 5px;
    }

    .contact {
        margin-bottom: 20px;
    }

    .contact-link {
        padding: 8px 0px 8px 42px;
    }

    .social {
        gap: 15px;
    }

    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .skill-list dt {
        padding: 8px 0 8px 38px;
    }
}

@media screen and (max-width: 380px) {
    .skill-header {
        flex-direction: column;
    }

    .skill-header div {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .skill-header button {
        width: 100%;
    }

    .skill-header h2 {
        align-self: flex-start;
    }
}

@media screen and (max-width: 360px) {
    .contact {
        flex-direction: column;
        gap: 15px;
    }

    .social {
        gap: 15px;
    }
}

.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 34px;
}
.switch-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}
.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #CCCCCC;
    cursor: pointer;
    transition: 0.4s;
}
.switch-slider:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transition: 0.4s;
}
.switch-checkbox:checked + .switch-slider:before {
    transform: translateX(24px);
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}